/allure/reports
/allure/results
/allure-report/
/allure/surefire-reports
/surefire-reports
/venv
/local.log
/.idea
/config
/tmp
/wait-for-it.sh
/__pycache__
*.pyc
.idea
.idea/workspace.xml
.idea/shelf